
<html>
    <body>
    <div class="container">
        <div class="row">
           
                <div class="form-wrap">
                    <input type="text" name="password" id="password" class="form-control" placeholder="Enter Your Password" #first>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Login">
                    <hr>
                </div>
            
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    </body>
</html>

